<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee EME ☕</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <img src="/static/logo-web.jpg" alt="Coffee EME" class="logo">

        <!-- Barra de búsqueda -->
        <form class="search-form" action="/search" method="get">
            <input type="text" name="q" placeholder="Buscar cafés..." class="search-input">
            <button type="submit" class="search-button">Buscar</button>
        </form>
    </header>

    <div class="page-container">
        <main class="content container">
            <h1>¡El sabor del café auténtico, directo a tu puerta!</h1>
            <img src="/static/img-example-coffe.jpg" alt="Coffee Example" class="img_presentation">
        </main>
    </div>

    <footer>
        <p>© 2025 Coffee EME. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
